.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
a{
    font-size: 16px;
}
.btn.btn-primary.btn-lg.btn-block.btn-sign-in{
    width: 100%;
}
.btn.btn-primary.btn-lg.btn-block{
    margin-top: 10px;
    width: 100%;
}
.text-center.title-Login{
    color: #282064;
}
.btn.btn-primary.btn-lg.btn-block.btnGoogle{
    background-color: #be2727;
    border-color: #be2727;
}