*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.order-detail-box .order-address{
    display: flex;
    justify-content: space-between;
}
.order-detail-box h2{
    padding: 5px 20px;
    font-size: 20px;
}
.order-address .order-information-user{
    display: flex;

}
.order-detail-box .order-address .order-information-user .information-user h3,h5{
    padding: 5px 20px;
    font-size: 14px;
    font-weight: 700;
}
.order-detail-box .order-address .order-information-store{
    display: flex;
    align-items: center;
    margin-right: 30px;
    flex-wrap: wrap;
    justify-content: right;
    text-align: left;
}
.order-detail-box .order-address .order-information-store .information-store{
    display: flex;
    justify-content: right;
    font-size: 12px;
    width: 100%;
    margin-right: 40px;
}
.order-detail-box .order-address .order-information-store img{
    height: 26px;
    width: auto;
    margin-right: 10px;
    margin-left: 20px;
    border:3px solid black;
}
.order-detail-box .order-address .order-information-store h4{
    font-size: 16px;
    margin-right: 40px;
    font-weight: 600;
}
.order-detail-box .order-address .order-information-store a{
    padding: 5px 20px;
    background-color: rgb(51, 40, 40);
    text-decoration: none;
    border: 1px solid black;
    border-radius: 4px;
    color: white;
}
.order-detail-box .order-address .order-information-store .address-store{
    margin-top: 10px;
    width: 350px;
    font-size: 24px;
}
.order-detail-box .order-address .order-information-store .address-store h5{
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
}
.order-detail-box .order-address .order-information-store .address-store h5 span{
    font-size: 14px;
    font-weight: 500;
}
.order-detail-box .order-address .order-information-store .address-store h3 span{
    font-size: 14px;
    font-weight: 500;
}
.order-detail-box .order-address .order-information-store .address-store h3{
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 700;
}
.order-content .Title-box{
    display: flex;
    height: 70px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-weight: 700;
    padding: 10px 30px 30px;
}
.order-content .product-box{
    width: 100%;    
    margin-bottom: 10px;
    min-height: 120px;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 30px;
    padding-top: 0px;
}
.order-content .product-box .product-name{
    display: flex;
    justify-content: left;
    padding: 0px 10px;
    align-items: center;
    
}
.order-content .product-box .product-name  img{
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
}
.order-content .product-box .product-quantity input{
    width: 30%;
    height: 38px;
    background: transparent;
    border: none;
}
.arrow-down {
    width: 0; 
    height: 0; 
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;  
    border-top: 7px solid rgb(11, 11, 11);
    margin-left: 10px;
    margin-bottom: 3px;
  }
  .product-type .menu-type-color-option p{
    font-size: 14px;
    color: #c0bcb6;
    font-weight: 600;
  }
  .order-content .button-box {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
  }
  .order-content .button-box  button{
    border: none;
    margin-right: 30px;
    padding: 5px 45px;
    border-radius: 10px;
    background: rgb(209,198,57);
    background: linear-gradient(90deg, rgba(209,198,57,0.7024860969778537) 0%, rgba(202,8,37,0.9153712510394783) 100%);
  }
